@import url(/src/scss/home.css);
@import url(/src/scss/ticketBooking.css);
@import url(/src/scss/ticketCheckout.css);
@import url(/src/scss/confirmation.css);
@import url(/src/scss/events.css);

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

@media print {
  .container{
    border: none;

    .no-print{
      display: none;
    }
  }
}

